<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-yzjmessage" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-yzjmessage</name>
    <js-module name="yzjmessage" src="www/yzjmessage.js">
        <clobbers target="cordova.plugins.yzjmessage" />
    </js-module>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVYZJMessage">
                <param name="ios-package" value="CDVYZJMessage"/>
            </feature>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>云之家需要访问你的麦克风，否则你将不能正常使用语音会议、语音消息等功能。</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>云之家需要访问你的相册，否则你将无法在日常沟通中使用系统相册里的照片和视频。</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>云之家需要访问你的相机，否则你将不能正常使用拍照、扫一扫、视频会议等功能。</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSContactsUsageDescription">
            <string>云之家为你创造更好的沟通体验，帮助你及时关注好友职场动态。</string>
        </config-file>
        
        <!-- 代码文件 -->
        <header-file src="src/ios/CDVYZJMessage.h" />
        <source-file src="src/ios/CDVYZJMessage.mm" />
        <header-file src="src/ios/YZJMessageSDKManager.h" />
        <source-file src="src/ios/YZJMessageSDK" framework="true" />
        
        <!-- Other required frameworks -->
        <framework src="UIKit.framework" />
        <framework src="Foundation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="Contacts.framework" />
        <framework src="AddressBook.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="DeviceCheck.framework" />
        <framework src="AVKit.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="OpenAL.framework" />
        <framework src="Accelerate.framework" />
        <framework src="Accounts.framework" />
        <framework src="AddressBookUI.framework" />
        <framework src="AdSupport.framework" />
        <framework src="ARKit.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="BusinessChat.framework" />
<!--         <framework src="AuthenticationServices.framework" />-->
<!--        <framework src="CarPlay.framework" />-->
        <framework src="CFNetwork.framework" />
        <framework src="ClassKit.framework" />
        <framework src="ContactsUI.framework" />
        <framework src="CoreAudio.framework" />
        <framework src="CoreAudioKit.framework" />
        <framework src="CoreBluetooth.framework" />
        <framework src="CoreData.framework" />
        <framework src="CoreFoundation.framework" />
        <framework src="CoreImage.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreMIDI.framework" />
        <framework src="CoreML.framework" />
        <framework src="CoreServices.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="CoreSpotlight.framework" />
        <framework src="EventKitUI.framework" />
        <framework src="ExternalAccessory.framework" />
        <framework src="FileProvider.framework" />
        <framework src="FileProviderUI.framework" />
        <framework src="GameController.framework" />
        <framework src="GameKit.framework" />
        <framework src="GameplayKit.framework" />
        <framework src="GLKit.framework" />
        <framework src="GSS.framework" />
        <framework src="HealthKit.framework" />
        <framework src="HealthKitUI.framework" />
        <framework src="HomeKit.framework" />
        <framework src="iAd.framework" />
        <framework src="IdentityLookup.framework" />
        <framework src="IdentityLookupUI.framework" />
        <framework src="ImageIO.framework" />
        <framework src="Intents.framework" />
        <framework src="IntentsUI.framework" />
        <framework src="IOKit.framework" />
        <framework src="IOSurface.framework" />
        <framework src="JavaScriptCore.framework" />
        <framework src="LocalAuthentication.framework" />
        <framework src="MapKit.framework" />
        <framework src="MediaAccessibility.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="MediaToolbox.framework" />
        <framework src="Messages.framework" />
        <framework src="MessageUI.framework" />
        <framework src="Metal.framework" />
        <framework src="MetalKit.framework" />
        <framework src="MetalPerformanceShaders.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="MultipeerConnectivity.framework" />
        <framework src="NaturalLanguage.framework" />
        <framework src="Network.framework" />
        <framework src="NetworkExtension.framework" />
        <framework src="NewsstandKit.framework" />
        <framework src="NotificationCenter.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="PassKit.framework" />
        <framework src="PDFKit.framework" />
        <framework src="Photos.framework" />
        <framework src="PhotosUI.framework" />
        <framework src="PushKit.framework" />
        <framework src="QuickLook.framework" />
        <framework src="ReplayKit.framework" />
        <framework src="SceneKit.framework" />
        <framework src="Security.framework" />
        <framework src="Speech.framework" />
        <framework src="SpriteKit.framework" />
        <framework src="StoreKit.framework" />
        <framework src="Twitter.framework" />
        <framework src="Social.framework" />
        <framework src="UserNotifications.framework" />
        <framework src="UserNotificationsUI.framework" />
        <framework src="VideoSubscriberAccount.framework" />
        <framework src="VideoToolbox.framework" />
        <framework src="Vision.framework" />
        <framework src="WatchConnectivity.framework" />
        <framework src="WatchKit.framework" />
        <framework src="WebKit.framework" />
        
        <!-- Other required tbd -->
        <framework src="libz.tbd" />
        <framework src="libc.tbd" />
        <framework src="libiconv.tbd" />
        <framework src="libresolv.9.tbd" />
        <framework src="libc++.tbd" />
        
        <!-- 依赖的公共库 -->
        <pods-config ios-min-version="9.0" use-frameworks="true">
            <source url="https://github.com/CocoaPods/Specs.git"/>
        </pods-config>
        <pod name="AFNetworking" version="3.1.0" />
        <pod name="JSONModel" version="1.7.0" />
        <pod name="Masonry" version="1.1.0" />
        <pod name="SnapKit" version="4.0.0" />
        <pod name="MenuItemKit" version="3.0.0" />
        <pod name="lottie-ios" version="2.1.5" />
        <pod name="pop" version="1.0.10" />
        <pod name="MBProgressHUD" version="1.1.0" />
        <pod name="DGActivityIndicatorView" version="2.1.1" />
        <pod name="DACircularProgress" version="2.3.1" />
        <pod name="SHSPhoneComponent" version="2.31" />
        <pod name="SDWebImage" version="4.1.2" />
        <pod name="SDWebImage/GIF" />
        <pod name="AMapLocation" version="2.6.1" />
        <pod name="FMDB" version="2.6.2" />
        <pod name="SafeKit" version="1.4.1" />
        <pod name="WCDB.swift" version="1.0.7" />
        <pod name="RxSwift" version="4.1.2" />
        <pod name="RxCocoa" version="4.1.2" />
        <pod name="RxDataSources" version="3.0.2" />
        <pod name="PromiseKit/CorePromise" version="6.4.0" />
        <pod name="KDMerc" version="0.1.1" />
        <pod name="KDOpenCoreAmr" version="0.1.2" />
        
    </platform>
</plugin>
